
html {
    height: 100vh;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: rgb(221, 250, 210);
    background-image: url('leaf_image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 2em right 4em;
}

h1 {
    background-color: rgb(158, 207, 138);

    padding-left: .5rem;
}

form {
    margin-left: .5rem;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: rgb(224, 224, 224);
}

#add {
    margin-left: .5rem;
}